@font-face {
  font-family: "Impact";
  src: url("./fonts/Impact.ttf");
}

#searchBar {
  background-color: #b6b4b5 !important;
  justify-content: flex-end;
}

#directoryTitle {
  font-family: Impact;
  color: white;
  justify-content: flex-start !important;
}

#searchButton {
  font-family: Impact;
  font-size: 20px;
  color: white;
}

.search {
  margin-left: 20px;
}
